import React from 'react'

import {{pascalCase name}} from '.'

export default {
  component: {{pascalCase name}},
  title: 'Components/{{pascalCase name}}',
  argTypes: {
    children: {
      type: 'string'
    },
  },
  args: {
    children: (
      <p>
        Lorem ipsum
      </p>
    )
  }
}

export const Default = (args) => <{{pascalCase name}} {...args} />
